EquestrianFacility.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/NewXMLSchema" targetNamespace="http://www.example.org/NewXMLSchema" elementFormDefault="qualified">

<!-- simple elements -->
<xs:element name="name">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
</xs:element>

<xs:element name="age">
	<xs:simpleType>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="18"></xs:minInclusive>
			<xs:maxInclusive value="120"></xs:maxInclusive>
		</xs:restriction>
	</xs:simpleType>
</xs:element>

<xs:simpleType name="gender">
	<xs:restriction base="xs:string">
		<xs:enumeration value="male"></xs:enumeration>
		<xs:enumeration value="female"></xs:enumeration>
	</xs:restriction>
</xs:simpleType>

<xs:element name="veterinary" type="tns:contact"></xs:element>

<xs:element name="phonenumber"> 
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
</xs:element>

<xs:element name="address"> 
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"></xs:maxLength>			
		</xs:restriction>
	</xs:simpleType>
</xs:element>

<xs:element name="city">
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"></xs:maxLength>			
		</xs:restriction>
	</xs:simpleType>
</xs:element>

<xs:element name="state"> 
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"></xs:maxLength>			
		</xs:restriction>
	</xs:simpleType>
</xs:element>

<xs:element name="email"> 
	<xs:simpleType>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"></xs:maxLength>
			<!-- source: http://www.zvon.org/xxl/XMLSchemaTutorial/Output/ser_types_st4.html#0 -->
			<xs:pattern value="[^@]+@[^\.]+\..+"></xs:pattern>			
			<!-- source end -->
		</xs:restriction>
	</xs:simpleType>
</xs:element>

<xs:element name="placementfee">
	<xs:simpleType>
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0."></xs:minInclusive>
		</xs:restriction>
	</xs:simpleType>
</xs:element>

<xs:element name="period" type="xs:duration"/>

<xs:simpleType name="breed">
	<xs:restriction base="xs:string">
		<xs:maxLength value="10"></xs:maxLength>
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="fieldtype">
	<xs:restriction base="xs:string">
		<xs:enumeration value="grass"></xs:enumeration>
		<xs:enumeration value="soil"></xs:enumeration>
		<xs:enumeration value="gravel"></xs:enumeration>
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="tournamenttype">
	<xs:restriction base="xs:string">
		<xs:enumeration value="jumping"></xs:enumeration>
		<xs:enumeration value="flat racing"></xs:enumeration>
		<xs:enumeration value="steeplechasing"></xs:enumeration>
		<xs:enumeration value="harness racing"></xs:enumeration>
		<xs:enumeration value="endurance"></xs:enumeration>
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="stabletype">
	<xs:restriction base="xs:string">
		<xs:enumeration value="restricts movement"></xs:enumeration>
		<xs:enumeration value="freedom of movement"></xs:enumeration>
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="horsenumber">
	<xs:restriction base="xs:positiveInteger">
		<xs:maxInclusive value="3"></xs:maxInclusive>
	</xs:restriction>
</xs:simpleType>


<!-- attributes -->
<xs:attribute name="id" type="xs:string"></xs:attribute>
<xs:attribute name="horseID" type="xs:string"/>
<xs:attribute name="stableID" type="xs:string"></xs:attribute>
<xs:attribute name="riderID" type="xs:string"/>
<xs:attribute name="ownerID" type="xs:string"></xs:attribute>
<xs:attribute name="area" type="xs:double"></xs:attribute>
<xs:attribute name="duration" type="xs:duration"></xs:attribute>
<xs:attribute name="obstacles" type="xs:boolean"/>
<xs:attribute name="horsenumber" type="tns:horsenumber"></xs:attribute>
<xs:attribute name="stabletype" type="tns:stabletype"></xs:attribute>
<xs:attribute name="fieldtype" type="tns:fieldtype"></xs:attribute>
<xs:attribute name="gender" type="tns:gender"></xs:attribute>
<xs:attribute name="breed" type="tns:breed"></xs:attribute>

<!-- complex elements -->
<xs:complexType name="contact">
	<xs:sequence>
		<xs:element ref="tns:name"></xs:element>
		<xs:element ref="tns:phonenumber"></xs:element>
		<xs:element ref="tns:address"></xs:element>
		<xs:element ref="tns:city"></xs:element>
		<xs:element ref="tns:state"></xs:element>
		<xs:element ref="tns:email"></xs:element>
	</xs:sequence>
</xs:complexType>

<xs:element name="horse">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="tns:name"></xs:element>
			<xs:element name="horseage" type="xs:positiveInteger"></xs:element>
			<xs:element ref="tns:placementfee"></xs:element>
			<xs:element ref="tns:period"></xs:element>
			<xs:element ref="tns:horseowner"></xs:element>
		</xs:sequence>
		<xs:attribute ref="tns:horseID" use="required"></xs:attribute>
		<xs:attribute ref="tns:stableID" use="required"></xs:attribute>
		<xs:attribute ref="tns:ownerID" use="required"></xs:attribute>
		<xs:attribute ref="tns:breed" use="required"></xs:attribute>
		<xs:attribute ref="tns:gender" use="required"></xs:attribute>
	</xs:complexType>
	<xs:key name="horseID">
		<xs:selector xpath="*"></xs:selector>
		<xs:field xpath="@horseID"></xs:field>
	</xs:key>
	<xs:keyref name="stableIDRef" refer="tns:stableID">
		<xs:selector xpath="root/tns:facility"></xs:selector>
		<xs:field xpath="@stableID"></xs:field>
	</xs:keyref>
	<xs:keyref name="horseownerIDRef" refer="tns:horseownerID">
		<xs:selector xpath="root/tns:facility"></xs:selector>
		<xs:field xpath="@ownerID"></xs:field>
	</xs:keyref>
</xs:element>

<xs:element name="rider">
	<xs:complexType>
		<xs:complexContent>
			<xs:extension base="tns:contact">
				<xs:sequence>
					<xs:element ref="tns:age"></xs:element>
				</xs:sequence>
				<xs:attribute ref="tns:riderID" use="required"></xs:attribute>
				<xs:attribute ref="tns:gender" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:key name="riderID">
		<xs:selector xpath="root/tns:facility"></xs:selector>
		<xs:field xpath="@riderID"></xs:field>
	</xs:key>
</xs:element>

<xs:element name="facilityowner">
	<xs:complexType>
		<xs:complexContent>
			<xs:extension base="tns:contact">
				<xs:sequence>
					<xs:element ref="tns:facility" minOccurs="1" maxOccurs="unbounded"></xs:element>
					<xs:element ref="tns:age" minOccurs="1" maxOccurs="1"></xs:element>
					<xs:element ref="tns:horse" minOccurs="0" maxOccurs="unbounded"></xs:element>
				</xs:sequence>
				<xs:attribute ref="tns:id" use="required"></xs:attribute>
				<xs:attribute ref="tns:gender" use="optional"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:key name="facilityownerID">
		<xs:selector xpath="root/tns:facility"></xs:selector>
		<xs:field xpath="@id"></xs:field>
	</xs:key>
</xs:element>

<xs:element name="horseowner">
	<xs:complexType>
		<xs:complexContent>
			<xs:extension base="tns:contact">
				<xs:sequence>
					<xs:element ref="tns:age" minOccurs="1" maxOccurs="1"></xs:element>
					<xs:element ref="tns:horse" minOccurs="1" maxOccurs="unbounded"></xs:element>
				</xs:sequence>
				<xs:attribute ref="tns:id" use="required"></xs:attribute>
				<xs:attribute ref="tns:gender" use="optional"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:key name="horseownerID">
		<xs:selector xpath="root/tns:facility"></xs:selector>
		<xs:field xpath="@id"></xs:field>
	</xs:key>
</xs:element>

<xs:element name="field">
	<xs:complexType>
		<xs:attribute ref="tns:id" use="required"></xs:attribute>
		<xs:attribute ref="tns:fieldtype" use="required"></xs:attribute>
		<xs:attribute ref="tns:area" use="required"/>
		<xs:attribute ref="tns:obstacles" use="required"></xs:attribute>
	</xs:complexType>
	<xs:key name="fieldID">
		<xs:selector xpath="root/tns:facility"></xs:selector>
		<xs:field xpath="@id"></xs:field>
	</xs:key>
</xs:element>

<xs:element name="tournament">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="tns:name"></xs:element>
			<xs:element ref="tns:field" minOccurs="1" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute ref="tns:id" use="required"></xs:attribute>
		<xs:attribute name="type" type="tns:tournamenttype"></xs:attribute>
		<xs:attribute ref="tns:duration" use="optional"></xs:attribute>
	</xs:complexType>
	<xs:key name="tournamentID">
		<xs:selector xpath="root/tns:facility"></xs:selector>
		<xs:field xpath="@id"></xs:field>
	</xs:key>
</xs:element>

<xs:element name="horsestable">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="tns:horse" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute ref="tns:id" use="required"></xs:attribute>
		<xs:attribute ref="tns:stabletype" use="required"></xs:attribute>
		<xs:attribute ref="tns:area" use="optional"></xs:attribute>
		<xs:attribute ref="tns:horseID" use="required"></xs:attribute>
		<xs:attribute ref="tns:horsenumber" use="optional"></xs:attribute>
	</xs:complexType>
	<xs:key name="stableID">
		<xs:selector xpath="root/tns:facility"></xs:selector>
		<xs:field xpath="@id"></xs:field>
	</xs:key>
</xs:element>

<xs:element name="facility">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="facilityinfo" type="tns:contact" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element ref="tns:facilityowner" minOccurs="1" maxOccurs="1"></xs:element>
			<xs:element ref="tns:horse" minOccurs="1" maxOccurs="unbounded"></xs:element>
			<xs:element ref="tns:rider" minOccurs="1" maxOccurs="unbounded"></xs:element>
			<xs:element ref="tns:veterinary" minOccurs="1" maxOccurs="unbounded"></xs:element>
			<xs:element ref="tns:field" minOccurs="1" maxOccurs="unbounded"></xs:element>
			<xs:element ref="tns:tournament" minOccurs="0" maxOccurs="unbounded"></xs:element>
			<xs:element ref="tns:horsestable" minOccurs="1" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute ref="tns:id" use="required"></xs:attribute>
		<xs:attribute ref="tns:ownerID" use="required"></xs:attribute>
	</xs:complexType>
	<xs:key name="facilityID">
		<xs:selector xpath="*"></xs:selector>
		<xs:field xpath="@id"></xs:field>
	</xs:key>
	<xs:keyref name="facilityownerIDRef" refer="tns:facilityownerID">
		<xs:selector xpath="*"></xs:selector>
		<xs:field xpath="@ownerID"></xs:field>
	</xs:keyref>
</xs:element>

<xs:element name="root">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="tns:facility"></xs:element>
		</xs:sequence>
	<xs:attribute ref="tns:id" use="required"></xs:attribute>
	</xs:complexType>
	<xs:keyref name="facilityIDRef" refer="tns:facilityID">
		<xs:selector xpath="root/tns:facility"></xs:selector>
		<xs:field xpath="@id"></xs:field>
	</xs:keyref>
</xs:element>

</xs:schema>


