Task1/AmericanAirlinesScheme.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:group name="timeInfo">
      <xs:sequence>
          <xs:element name="travelInfo">
              <xs:complexType>
                  <xs:choice minOccurs="1" maxOccurs="2">
                      <xs:element name="travelTime" type="xs:duration"/>
                      <xs:element name="connectionTime" type="xs:duration"/>
                  </xs:choice>
              </xs:complexType>
          </xs:element>
      </xs:sequence>
    </xs:group>
    <xs:group name="flightInfo">
        <xs:sequence>
            <xs:element name="departure">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="departureAirport">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="departureAirportName">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="100"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute name="departureIATAairportCode" use="required">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:pattern value="[a-zA-Z]{3}"/>
                                        </xs:restriction>
                                    </xs:simpleType> 
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="departureDate" type="xs:date"/>
                        <xs:element name="departureTime" type="xs:time"/>       
                    </xs:sequence>
                </xs:complexType>
            </xs:element>  
            <xs:element name="arrival">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="arrivalAirport">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="arrivalAirportName">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:maxLength value="100"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute name="arrivalIATAairportCode" use="optional">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:pattern value="[a-zA-Z]{3}"/>
                                        </xs:restriction>
                                    </xs:simpleType> 
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="arrivalDate" type="xs:date"/>
                        <xs:element name="arrivalTime" type="xs:time"/>      
                    </xs:sequence>
                </xs:complexType>
            </xs:element> 
            <xs:element name="Aircraft">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="40"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="operatedBy">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:group> 
    <xs:group name="fareInformation">
        <xs:choice>
            <xs:element name="Availability" type="xs:string" fixed="Not available"/>
            <xs:element name="info">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="price">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:decimal">
                                        <xs:attribute name="currency" type="xs:string" fixed="United States Dollar" use="required"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="numberOfRemainingSeats">
                            <xs:simpleType>
                                <xs:restriction base="xs:integer">
                                    <xs:minInclusive value="1"/>
                                    <xs:maxInclusive value="300"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="services" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType> 
            </xs:element>
        </xs:choice>
    </xs:group>
    <xs:element name="airlineCompanyDataProvider">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="flight" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="depart">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="100"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="to">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="100"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="flightCatergory">
                                <xs:complexType>
                                    <xs:choice>
                                        <xs:element name="connecting">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="stops">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:integer">
                                                                <xs:minInclusive value="1"/>
                                                                <xs:maxInclusive value="9"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="flightDetails" minOccurs="2" maxOccurs="10">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:group ref="flightInfo"/>
                                                                <xs:group ref="timeInfo"/>
                                                            </xs:sequence>
                                                            <xs:attribute name="flightNumber" use="required">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:pattern value="[a-zA-Z]{2}[0-9]{2,5}"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                        </xs:complexType>                                                      
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element> 
                                        <xs:element name="nonStop">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="flightDetails">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:group ref="flightInfo"/>
                                                                <xs:group ref="timeInfo"/>
                                                            </xs:sequence>
                                                            <xs:attribute name="flightNumber" use="required">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:pattern value="[a-zA-Z]{2}[0-9]{2,5}"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                        </xs:complexType>                                                      
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="duration" type="xs:duration"/>
                            <xs:element name="fare">
                                <xs:complexType>
                                    <xs:choice>
                                        <xs:element name="status" type="xs:string" fixed="Not available"></xs:element>
                                        <xs:element name="type">
                                            <xs:complexType>
                                                <xs:choice minOccurs="1" maxOccurs="7">
                                                    <xs:element name="basicEconomy">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:group ref="fareInformation"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="mainCabin">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:group ref="fareInformation"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="mainCabinFullyFlexible">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:group ref="fareInformation"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="premiumEconomy">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:group ref="fareInformation"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="premiumEconomyFlexible">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:group ref="fareInformation"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="business">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:group ref="fareInformation"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="first">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:group ref="fareInformation"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>     
                                                </xs:choice>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="totalTraveltime" type="xs:duration"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="Name" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="70"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
        <xs:unique name="nonStopFlightNumberKey">
            <xs:selector xpath="flight/flightCatergory/nonStop"/>
            <xs:field xpath="@flightNumber"/>
        </xs:unique> 
        <xs:unique name="connectingFlightNumberKey">
            <xs:selector xpath="flight/flightCatergory/connecting"/>
            <xs:field xpath="@flightNumber"/>
        </xs:unique> 
        <xs:key name="totalTravelingTimeKey">
            <xs:selector xpath="flight"/>
            <xs:field xpath="duration"/>
        </xs:key>
        <xs:keyref name="totalTravelingTimekeyRef" refer="totalTravelingTimeKey">
            <xs:selector xpath="flight"/>
            <xs:field xpath="totalTraveltime"/>
        </xs:keyref>	
    </xs:element>
</xs:schema>
